<h1>Institutions</h1>
<% if @institutions.size > 0 %>
	<p>Here are all the Institutions</p>
	<table>
	<tbody>
		<tr>
			<th>Action</th>
			<th>Institution</th>
			<th>Website</th>
		</tr>
		<%= render partial: "institution", collection: @institutions %>
	</tbody>
	</table>
<% else %>
	<p>No Institutions created</p>
<% end %>

<%= will_paginate @institutions %>