<h1>Course Intakes</h1>

<p><b>Course:</b> </p>
<p><b>Institution:</b> </p>
<p><b>Cost:</b> </p>
<p><b>Duration:</b> </p>

<table>
	<tbody>
		<tr>
			<th>Action</th>
			<th>Intakes</th>
			<th>Capacity</th>
			<th>Filled</th>
		</tr>
		
	</tbody>
</table>