<h1>Students</h1>

<p>Here are all the Students</p>
<table>
	<tbody>
		<tr>
			<th>Action</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
		<%= render partial: "student", collection: @students %> 
	</tbody>
</table>
<%= will_paginate @students %>