<%= render "layouts/menuzinho" %> 
<h2>Courses</h2>
<p><%= pluralize(@courses.count, "course".capitalize) %> found</p>
<%= link_to 'New Course', new_course_path %>

<table>
	<tbody>
		<tr>
			<th>Action</th>
			<th>Course</th>
			<th>Description</th>
		</tr>
		<%= render partial: "course", collection: @courses %> 
	</tbody>
</table>