<tr>
	<td class="action"><%= link_to "View", city %>
 | <%= link_to "Edit", edit_city_path(city) %>
 | <%= link_to "Delete", city_path(city), method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
	<td><%= city %></td>
</tr>