<tr>
	<td class="action"><%= link_to "View", course %>
	<% #if user_signed_in? %>
	 | <%= link_to "Edit", edit_course_path(course) %>
	 <% #end %>
	</td>
	<td><%= course %></td>
	<td><%= course.description %></td>
</tr>