<h1>Courses</h1>

<p>Here are all the Courses</p>

<table>
	<tbody>
		<tr>
			<th>Action</th>
			<th>Course</th>
			<th>Description</th>
		</tr>
		<%= render partial: "course", collection: @courses %> 
	</tbody>
</table>