			<tr>
				<td><%= enrolment.student %></td>
				<td><%= enrolment.course_option.course.name %></td>
				<td><%= enrolment.course_option.institution.name %></td>
				<td><%= enrolment.start_date_field %></td>
			</tr>